// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

 @mixin rwd($screen) {
     @media (min-width: $screen + 'px') {
         @content;
     }
 }

 @mixin flex-centered() {
     display: flex;
     align-items: center;
     justify-content: center;
 }
 @mixin standard-btn() {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100px;
    background: linear-gradient(#f2dce7, #ddc2d5, #5e9ce5);
    border: none;
    border-radius: 50px;
    color: white;
 }