// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}
 
// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}
 
// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

@mixin rwd($screen) {
    @media (min-width: $screen + 'px') {
        @content;
    }
}

$winter-button: linear-gradient(#f2dce7, #ddc2d5, #5e9ce5);
$spring-button: linear-gradient(#52ff93, #ffcbcb);
$summer-button: linear-gradient(#fde147, #7bfff4);
$fall-button: linear-gradient(#aefc51, #fdd447, #fda147, #ff7e7e);

@mixin standard-btn() {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100px;
    // /!\ CHANGEMENT DE SAISON ICI /!\
    // background: $fall-button;
    // background: $summer-button;
    // background: $winter-button;
    background: $spring-button;
    border: none;
    border-radius: 50px;
    color: white;
}


$winter-background: linear-gradient(#96C2F4, #b2b8f9);
$spring-background: linear-gradient(#52ff93, #b2b8f9);
$summer-background: linear-gradient(#FFFE52, #b2b8f9);
$fall-background: linear-gradient(#96C2F4, #b2b8f9);

$standard-font: gotham, bold;

@mixin body-background() {
    // /!\ CHANGEMENT DE SAISON ICI /!\
    background: $spring-background;
}


// FONTS
@font-face {
    font-family: 'Gotham Bold';
    src: local('Gotham Bold'), url('../../fonts/gotham_bold.otf') format('truetype');
}