@import "../utilities/mixins";

.about {
    $el: &;
    display: flex;
    align-items: center;
    border: solid 3px blue;
    margin: 100px;

    #{$el}__avatars {
        display: flex;
        flex-wrap: wrap;
        width: 360px;
        cursor: pointer;

        border: solid red 3px;

        img {
            margin: 15px;
            height: 150px;
            width: 150px;
        }
    }
}