@import "../utilities/mixins";

.adminform {
    $el: &;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding-top: 160px;
    background: linear-gradient(#96C2F4, #BB65F0);
    border: black 1px solid;

    
// ******************** TOP ******************** 

    #{$el}__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: red solid 1px;
    }
    
// ******************** FORM ******************** 
    
    #{$el}__form {
        @include flex-centered();
        border: green solid 1px;
    }

// ******************** TABLE ******************** 

    #{$el}__table {
        @include flex-centered();
        flex-wrap: wrap;
        border: blue solid 1px;
        max-width: 1200px;

        &--title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--columntitle {
            @include flex-centered();
            width: 24%;

        }

        &--row {
            @include flex-centered();
            width: 100%;
            
            .cell {
                @include flex-centered();
                width: 24%;
            }
        }
    }
// ******************** BOT ******************** 

    // #{$el}__bot {
    //     display: flex;
    //     border: red 1px solid;
        
    //     &--signin {
    //         display: flex;
    //         justify-content: space-between;
    //         border: blue 1px solid;
    //         width: 100%;
            
    //         label {
    //             display: flex;
    //             flex-direction: column;
    //             align-items: center;
    //         }
    //     }

    //     button {
    //         height: 20px;
    //         width: 40px;
    //     }
    // }

}