.adminform {
    $el: &;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background: linear-gradient(#96C2F4, #BB65F0);

    &--error {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        margin: 50px;
        font-size: 25px;
    }
    
    
    // ******************** TOP ******************** 
    #{$el}__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        font-size: 55px;
    }
    
    // ******************** FORM ******************** 
    #{$el}__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 1200px;
        border: 10px solid;
        border-radius: 50px;
        border-image-source: linear-gradient(#f2dce7, #ddc2d5, #5e9ce5);
        border-image-slice: 1;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        &--title {
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 35px;
        }
        form {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 10px;
        }
        &--input, &--select {
            margin: 5px;
            height: 27px;
        }
        &--select {
            cursor: pointer;
        }
        &--submit {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            width: 100px;
            background: linear-gradient(#f2dce7, #ddc2d5, #5e9ce5);
            border: none;
            border-radius: 50px;
            color: white;
        }
    }
    
    // ******************** TABLE ******************** 
    #{$el}__table {
        border: #5e9ce5 solid 10px;
        width: 1200px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        border-collapse: collapse;
        padding: 30px;
        
        
        //TITLE
        &--title {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 35px;
            margin: none;
            padding: none;
        }
        
        // HEADER 
        &__header {
            margin-top: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 10px;
            th {
                width: 16%;
            }
            &--columntitle {
                border-bottom: solid black 2px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                text-transform: none;
                padding: 7px;
            }
        }
        
        // BODY
        &__body {
            display: flex;
            justify-content: space-around;
            align-items: center;
            th {
                    width: 16%;
                    overflow: hidden;
                    text-overflow: ellipsis;
            }
            &--cell {
                white-space: nowrap;
                height: 20px;
                border-bottom: solid black 1px;
                font-family: 'Arial Narrow Bold', sans-serif;
                text-transform: none;
                padding: 9px 7px 7px 7px;
            }
            &--button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
            }
        }
        
         .left {
             margin-left: 20px;
         }
        
    }
        // ******************** BOT ******************** 

}