@import "../utilities/mixins";

.footer {
    $el: &;
    width: 100%;
    display: flex;
    flex-direction: column;


    #{$el}__wave {
        width: 100%;
        margin-top: 100px;
    }


    #{$el}__main {
        background: #444;
        height: 300px;
        margin: none;
    }
    
}