@import "../utilities/mixins";

.header {
    $el: &;
    // @include flex-centered();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;


    #{$el}__background {
        // @include flex-centered();
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 45.6vmax;
        background: url("../../img/header_bg.png");
        background-size: 100% 100%;
        border: solid red 3px;

        &--title {
            width: 50%;
        }
    }

    #{$el}__wave {
        // padding: 10px;
        // border: red solid 4px;
        width: 100%;
        height: 50px;
        position: relative;
        bottom: 50px;
    }



    #{$el}__navigation {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        // background: white;
        // box-shadow: 0px 10px 20px #909090;
        position: fixed;
        top: 0;
        z-index: 100;

        &--logo {
            z-index: 2;
            height: 50px;
            position: relative;
            left: 50px;
            top: 15px;
            padding-right: 35px;
            cursor: pointer;
        }

        .navigation__rubric {
            display: flex;
            justify-content: space-around;
            width: 1300px;
            min-width: 600px;
            

            &--page {
                outline: none;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: auto;
                position: relative;
                padding-top: 14px;
                cursor: pointer;
                width: 150px;
                text-decoration: none;
                color: white;

                // *********** RUBRICS GENERAL ***********
                .underline {
                    height: 3px; // epaisseur
                    width: 100%; // largeur
                    background: linear-gradient(0.25turn, #f2dce7, #ddc2d5, #5e9ce5);

                    // WINTER

                    // SPRING
                    // background: linear-gradient(0.25turn, #f2dce7, #ddc2d5, #5e9ce5);

                    // SUMMER
                    // background: linear-gradient(0.25turn, #f2dce7, #ddc2d5, #5e9ce5);

                    // FALL
                    // background: linear-gradient(0.25turn, #f2dce7, #ddc2d5, #5e9ce5);

                    animation: fadeout 0.5s forwards;
                    // display: none;

                }
                // *********** ************** ***********


                // *********** MENU RELATED ***********
                // Hide menu
                .menu {
                    opacity: 0;
                    display: none;
                    width: 150%;
                }
                .choice-underline {
                    height: 3px; // epaisseur
                    width: 70%;
                    background: linear-gradient(0.25turn, #f2dce7, #ddc2d5, #5e9ce5);

                    // WINTER

                    // SPRING
                    // background: linear-gradient(0.25turn, #f2dce7, #ddc2d5, #5e9ce5);

                    // SUMMER
                    // background: linear-gradient(0.25turn, #f2dce7, #ddc2d5, #5e9ce5);

                    // FALL
                    // background: linear-gradient(0.25turn, #f2dce7, #ddc2d5, #5e9ce5);
                    animation: fadeout 0.5s forwards;
                }


                &:hover{
                    height: auto;
                    .rubric-title {
                        position: relative;
                        top: -8px;
                        padding: 4px;
                        border: 4px solid;
                        border-image-source: linear-gradient(#f2dce7, #ddc2d5, #5e9ce5);
                        border-image-slice: 1;
                    }
                    .underline {
                        animation: fadein 0.5s forwards;
                    }
                    .menu {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        animation: fadein 0.5s forwards;
                        // border: red solid 1px;
                    
                        &__choice {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            padding: 15px 0 15px 0;
                            height: 30px;
                            width: 100%;
                            background: white;
                            .title {
                                outline: none;
                                text-decoration: none;
                            }
                            &:hover {
                                .choice-underline {
                                    animation: fadein 0.5s forwards;
                                }
                            }
                        }
                    }
                }

                // *********** ************** ***********



                // *********** KEYFRAMES FOR ANIMATIONS ***********
                @keyframes fadein {
                    from {opacity: 0;}
                    to {opacity: 1;}
                }
                @keyframes fadeout {
                    from {opacity: 1;}
                    to {opacity: 0;}
                }
            }
            // Recenter the rubric (menu)


        }
        .navigation__button {
            min-width: 290px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            &--login, &--signin, &--logout, &--profil-page {
                @include standard-btn();
                // cursor: pointer;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // height: 35px;
                // width: 100px;
                // background: linear-gradient(#f2dce7, #ddc2d5, #5e9ce5);
                // border: none;
                // border-radius: 50px;
                // color: white;
            }
        }
    }
}