@import "../utilities/mixins";

.header {
    $el: &;
    @include flex-centered();
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    width: 100%;
    height: 100%;


    #{$el}__background {
        @include flex-centered();
        width: 100%;
        background: url("../../img/header_bg.png");
        background-size: cover;

        &--title {
            width: 600px;
        }
    }



    #{$el}__navigation {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: white;
        box-shadow: 0px 10px 20px #909090;
        position: fixed;

        &--logo {
            z-index: 2;
            height: 50px;
            position: relative;
            left: 50px;
            top: 15px;
            padding-right: 35px;
            cursor: pointer;
        }

        .navigation__rubric {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 1300px;
            min-width: 600px;
            
            &--page {
                @include flex-centered();
                flex-direction: column;
                height: auto;
                text-align: center;
                cursor: pointer;
                .underline {
                    height: 3px; // epaisseur
                    width: 100%; // largeur

                    // WINTER
                    background: linear-gradient(0.25turn, #f2dce7, #ddc2d5, #5e9ce5);

                    // SPRING
                    // background: linear-gradient(0.25turn, #f2dce7, #ddc2d5, #5e9ce5);

                    // SUMMER
                    // background: linear-gradient(0.25turn, #f2dce7, #ddc2d5, #5e9ce5);

                    // FALL
                    // background: linear-gradient(0.25turn, #f2dce7, #ddc2d5, #5e9ce5);

                    animation: fadeout 0.5s forwards;
                    // display: none;
                }
                &:hover {
                    .underline {
                        animation: fadein 0.5s forwards;
                    }
                }
                @keyframes fadein {
                    from {opacity: 0;}
                    to {opacity: 1;}
                }
                @keyframes fadeout {
                    from {opacity: 1;}
                    to {opacity: 0;}
                }
            }
        }
        .navigation__button {
            min-width: 290px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            &--login, &--signin, &--logout, &--profil-page {
                @include standard-btn();
                // cursor: pointer;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // height: 35px;
                // width: 100px;
                // background: linear-gradient(#f2dce7, #ddc2d5, #5e9ce5);
                // border: none;
                // border-radius: 50px;
                // color: white;
            }
        }
    }
}