@import "../utilities/mixins";

.home-body {
    $el: &;
    width: 100%;
    height: auto;
    @include body-background();
    display: flex;
    flex-direction: column;
    align-items: center;

    #{$el}__title{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
    }

    #{$el}__video{
        border: red solid 3px;
    }



    .aboutVideos {
        display: flex;
        justify-content: flex-start;
        margin-top: 150px;
        p {
            font-family: 'Gotham Bold';
            // font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    }

    .aboutGallery {
        display: flex;
        justify-content: flex-end;
        margin-top: 150px;
    }
}

