@import "../utilities/mixins";

.gallery {
    $el: &;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px;
    padding-top: 100px;
    @include body-background();


    &--title {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        font-size: 50px;
        color: #444;
        order: -2;
    }

    &--error {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        color: #444;
        margin: 50px;
        font-size: 25px;
    }
    
    #{$el}__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        width: 100%;
            // border: solid black 2px;
    
        &__item {
            // border: solid red 2px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 250px;
            margin: 10px;
    
            &--img {
                height: 200px;
                // border: solid blue 2px;
            }
    
            &--delete {
                // border: solid green 2px;
                @include standard-btn();
            }
        }
    }

    #{$el}__upload {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        font-family:  sans-serif;
        font-size: 13px;
        &--input {
            order: -1;
            width: 0.1px;
	        height: 0.1px;
	        opacity: 0;
	        overflow: hidden;
	        position: absolute;
	        z-index: -1;
        }
        &--label {
            @include standard-btn();
            width: 200px;
            margin-top: 30px;
        }

    }

}