.editpopup {
    $el: &;

    background-color: white;
    border: red 2px solid;

}

.loginpopup {
    $el: &;
    background-image: url("../../img/ah_bg_popup.png");
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    
// ******************** TOP ******************** 

    #{$el}__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        border: blue solid 1px;

        &--logo {
            z-index: 2;
            height: 50px;
            position: relative;
            top: -30px;
            left: -10px;
        
        }
        &--close {
            display: flex;
            justify-content: center;
            cursor: pointer;
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background: linear-gradient(#f2dce7, #ddc2d5, #5e9ce5);
            color: white;
            border: none;
            font-size: 15px;
            position: relative;
            top: -52px;
            right: -21px;
            outline: none;
        }
    }

// ******************** FORM ******************** 

    #{$el}__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: green solid 1px;
    }

// ******************** BOT ******************** 

    #{$el}__bot {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: red 1px solid;
        
        &--signin, &--forgotpwd {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            width: 100px;
            background: linear-gradient(#f2dce7, #ddc2d5, #5e9ce5);
            border: none;
            border-radius: 50px;
            color: white;
        }
    }
}