@import "../utilities/mixins";

.videoGallery {
    $el: &;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2000px;

    #{$el}__title {
        font-size: 50px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-transform: uppercase;
        color: #444;
    }


    .slide-container {
        border: red solid 2px;
        z-index: 0;
        width: 800px;

        .each-slide {
            border: green solid 5px;
            @include flex-centered();
            flex-direction: column;

            &__video {
                border: blue solid 2px;
            }
        }
    }
}