@import "../utilities/mixins";

.videoGallery {
    $el: &;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2000px;
    .slide-container {
        z-index: 0;
        width: 800px;

        .video {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}