// PREMIER CONTOUR
html, body {
    margin: 0;
    // border: 10px solid orange;
    height: auto;
}

// PAGE INDEX.HTML
#root {
   height: auto;
}

// APPLICATION
.app {
    $el: &;
    margin: 0;
    height: auto;
    color: #444;
    font-family: 'Gotham Bold';
    // border: purple solid 7px;
}

.toast {
    position: fixed;
    top: 50px;
}