@import "../../utilities/mixins";

.header {
    $el: &;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    #{$el}__background {
        @include flex-centered();
        justify-content: flex-start;
        width: 100%;
        height: 45.6vmax;
        background: url("../../../img/header_bg.png");
        background-size: 100% 100%;

        &--title {
            width: 50%;
        }
    }
    #{$el}__wave {
        width: 100%;
        height: 25px;
        position: relative;
        bottom: 25px;
        @include sm {
            height: 50px;
            bottom: 50px;    
        }
        @include md {
            height: 75px;
            bottom: 75px;    
        }
        @include lg {
            height: 100px;
            bottom: 100px;    
        }
    }


    // *********************
    //    NAVBAR RELATED
    // *********************
    #{$el}__navigation {
        height: 50px;
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        align-items: flex-end;
        top: 0;
        z-index: 100;
        width: 100%;
        font-size: 12px;
        // border: solid green 2px;
        @include sm {
            font-size: 14px;
        }
        @include md {
            flex-direction: row;
            justify-content: space-around;
        }

        // LOGO
        &--logo {
            z-index: 2;
            height: 50px;
            position: absolute;
            left: 15px;
            top: 15px;
            padding-right: 35px;
            cursor: pointer;
        }

        // <<<<<<<<<<<< TRIGGER RELATED ************
        .navigation__menu-trigger {
            // background: black;// delete
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            cursor: pointer;
            // width: 100%;
            // line-height: 50px;
            min-height: 50px;
            margin-right: 40px;
            padding-right: 20px;
            @include sm {
                margin-right: 52px;
                padding-right: 33px;
            }
            .underline {
                position: relative;
                right: -20px;
                height: 3px; // epaisseur
                width: 70px; // largeur
                background: linear-gradient(0.25turn, #f2dce7, #ddc2d5, #5e9ce5);
                opacity: 0;
            }
            &:hover {
                .underline {
                    animation: fadein 0.5s forwards;
                }
            }
            @include md {
                display: none;
            }
        }
        //************ TRIGGER RELATED >>>>>>>>>>>>>>>>>

        

        // <<<<<<<<<<<< NAVIGATION MENU RELATED ************
        .navigation__rubric {
            // border: solid red 2px;
            display: none;
            flex-direction: column;
            align-items: flex-end;
            width: 100px;
            margin-right: 20px;
            background:  rgba(0, 0, 0, 0.5);
            padding: 0 5px 0 5px;
            // border: solid red 2px;
            @include sm {
                width: 150px;
            }
            @include md {
                display: flex;
                flex-direction: row;
                font-size: 12px;
                margin: 0;
                background: none;
                // border: solid red 1px;
                width: auto;
                height: 50px;
                justify-content: space-between;
                align-items: center;
                margin-left: 90px;
            }
            @include xl {
                font-size: 14px;
                width: 100%;
            }


            &--page {
                outline: none;
                text-decoration: none;
                // border: solid 1px red;
                display: flex;
                flex-direction: column;
                align-items: center;
                height: auto;
                position: relative;
                padding-top: 14px;
                cursor: pointer;
                width: 100px;
                @include sm {
                    width: 150px;
                }
                @include md {
                    width: 100px;
                    margin: 0 5px 0 5px;
                    padding: 0;
                }
                @include xl {
                    width: 150px;
                }
                @include xxl {
                    font-size: 18px;
                    width: 200px;
                }
                color: white;

                // *********** RUBRICS GENERAL ***********
                .underline {
                    height: 3px; // epaisseur
                    width: 100%; // largeur
                    background: linear-gradient(0.25turn, #f2dce7, #ddc2d5, #5e9ce5);
                    opacity: 0;
                }
                .underline-menu {
                    height: 3px; // epaisseur
                    width: 100%; // largeur
                    background: linear-gradient(0.25turn, #f2dce7, #ddc2d5, #5e9ce5);
                    opacity: 0;
                }

                .rubric-title {
                    width: 100%;
                    @include flex-centered();
                    flex-direction: column;
                    @include md {
                        height: 50px;
                    }
                }
                // *********** ************** ***********


                // HIDE MENU
                .menu {
                    // opacity: 1;
                    display: none;
                    width: 100%;
                    text-decoration: none;
                    outline: none;
                    // margin-top: 12px;
                }
                
                &:hover {
                    height: auto;
                    .underline {
                        animation: fadein 0.5s forwards;
                    }
                }
                .first {
                    border-top: solid 2px #444;
                }
                .menu {
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    // animation: fadein 0.5s forwards;
                    position: absolute;
                    right: 100px;
                    top: 2px;
                    @include sm {
                        right: 150px;
                    }
                    @include md {
                        right: 0;
                        top: 50px;
                    }

                    &__choice {
                        @include flex-centered();
                        flex-direction: column;
                        padding: 15px 0 15px 0;
                        height: 20px;
                        width: 100%;
                        background: white;
                        border-bottom: solid 2px #444;
                        @include xxl {
                            height: 40px;
                        }
    
                        .title {
                            width: 100%;
                            text-align: center;
                            outline: none;
                            text-decoration: none;
                            color: #444;
                        }
                        &:hover {
                            background: linear-gradient(0.25turn, #5e9ce5, #f2dce7);
                            .title {
                                color: white;
                            }
                        }
                    }
                }

                // *********** KEYFRAMES FOR ANIMATIONS ***********
                @keyframes fadein {
                    from {opacity: 0;}
                    to {opacity: 1;}
                }
                @keyframes fadeout {
                    from {opacity: 1;}
                    to {opacity: 0;}
                }
            }

            // Recenter the rubric (menu)
        }
        //************ NAVIGATION MENU RELATED >>>>>>>>>>>>>>>>>

        .account-block {
            display: none;
            background:  rgba(0, 0, 0, 0.5);
            padding: 0 5px 0 5px;
            width: 100px;
            margin-right: 20px;
            height: 50px;
            // border: solid green 1px;
            @include sm {
                width: 150px;
            }
            @include md {
                background: none;
                display: flex;
                font-size: 12px;
            }
            @include xl {
                font-size: 14px;
                width: auto;
            }

            &__pipe {
                @include xl {
                    height: 30px;
                    position: relative;
                    top: 10px;
                    border: solid white 1px;
                    margin: 0 30px 0 30px;
                }
            }
            &__avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin: 5px;
                border: solid white 2px;
                @include sm {
                    width: 40px;
                    height: 40px;
                }
            }

            &__menu {
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding-top: 0;
                // border: solid red 2px;
                @include xl {
                    // border: solid red 2px;
                    width: 100%;
                    margin-right: 20px;
                }
                .menu {
                    right: 100px;
                    @include sm {
                        right: 150px;
                    }
                    @include md {
                        right: 0;
                        top: 50px;
                    }
                }
                .rubric-title {
                    display: none;
                    @include xl {
                        display: flex;       
                        width: 150px;
                    }
                }
            }
        }
        .hover-menu:hover {
            .menu {
                display: flex;
            }
        }

        .navigation__button {
            border-radius: 10px;
            display: flex;
            background: black;
            margin: 0 30px 0 10px;
            
            &--login, &--signin, &--logout, &--profil-page {
                @include standard-btn();
            }
        }
    }
}